In [3]:
#data processing
import kagglehub
import pandas as pd
import os
path = kagglehub.dataset_download("mczielinski/bitcoin-historical-data")
files = os.listdir(path)
data = pd.read_csv(f"{path}/{files[0]}")
data.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='s')
data = data.set_index('timestamp', drop = False)
data.head()

                              timestamp  open  high   low  close  volume
timestamp
2012-01-01 10:01:00 2012-01-01 10:01:00  4.58  4.58  4.58   4.58     0.0
2012-01-01 10:02:00 2012-01-01 10:02:00  4.58  4.58  4.58   4.58     0.0
2012-01-01 10:03:00 2012-01-01 10:03:00  4.58  4.58  4.58   4.58     0.0
2012-01-01 10:04:00 2012-01-01 10:04:00  4.58  4.58  4.58   4.58     0.0
2012-01-01 10:05:00 2012-01-01 10:05:00  4.58  4.58  4.58   4.58     0.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7332157 entries, 2012-01-01 10:01:00 to 2025-12-10 23:57:00
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   open       float64
 2   high       float64
 3   low        float64
 4   close      float64
 5   volume     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 391.6 MB

In [ ]:
# volume 유니크 확인
data.loc[data['volume'] == 0, ['volume']].count()

volume    1310476
dtype: int64

In [17]:
# high ≥ open/close ≥ low 규칙 확인
invalid = data[(data['high'] < data['low']) |
               (data['high'] < data['close']) |
               (data['high'] < data['open']) |
               (data['open'] < data['low']) |
               (data['close'] < data['low'])]
invalid.shape

(0, 6)

1. 전반적 가격 스케일과 분포 수준을 파악

## mean vs median
mean이 극단적으로 높다 -> 분포가 오른쪽으로 꼬리가 길다(양의 왜도, positive skew)

## min max 비율
에버리지가 엄청 크다.

## iqr과 max
.75와 max의 갭이 상당하다.

## std 과 mean
std가 상대적으로 매우 크다.

- 변동성이 매우 높고, 왜도가 양의로 큰것같다.

In [18]:
# 기본 통계량
data[['open','high','low','close','volume']].describe()

               open          high           low         close        volume
count  7.332157e+06  7.332157e+06  7.332157e+06  7.332157e+06  7.332157e+06
mean   2.138595e+04  2.139363e+04  2.137807e+04  2.138596e+04  5.122842e+00
std    3.004907e+04  3.005727e+04  3.004075e+04  3.004907e+04  2.204701e+01
min    3.800000e+00  3.800000e+00  3.800000e+00  3.800000e+00  0.000000e+00
25%    4.438800e+02  4.440000e+02  4.436700e+02  4.438800e+02  1.977006e-02
50%    7.303590e+03  7.307990e+03  7.299820e+03  7.303530e+03  4.491397e-01
75%    3.105398e+04  3.107400e+04  3.103700e+04  3.105487e+04  2.895274e+00
max    1.262020e+05  1.262720e+05  1.261580e+05  1.262020e+05  5.853852e+03

In [21]:
years = sorted(data.index.year.unique())
for y in years:
    print("=" * 80)
    print(f" Year: {y} ")
    print("=" * 80)
    
    cols = data.columns.difference(['timestamp'])
    yearly = data.loc[data.index.year == y, cols]
    print(yearly.describe())
    print("\n")

================================================================================
 Year: 2012
================================================================================
               close           high            low           open  \
count  526439.000000  526439.000000  526439.000000  526439.000000
mean        8.234715       8.234894       8.234569       8.234747
std         3.125876       3.126029       3.125762       3.125911
min         3.800000       3.800000       3.800000       3.800000
25%         5.090000       5.090000       5.090000       5.090000
50%         6.850000       6.850000       6.850000       6.850000
75%        11.390000      11.390000      11.390000      11.390000
max        16.000000      16.410000      15.490000      16.410000

              volume
count  526439.000000
mean        1.077722
std        13.308873
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      2958.477574


================================================================================
 Year: 2013
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      187.034192     187.273931     186.785502     187.044586
std       241.798257     242.235220     241.329268     241.804651
min        12.770000      12.770000      12.770000      12.770000
25%        75.940000      75.990000      75.780000      75.930000
50%       111.000000     111.060000     110.990000     111.000000
75%       134.500000     134.602500     134.420000     134.500000
max      1163.000000    1163.000000    1162.990000    1163.000000

              volume
count  525600.000000
mean        9.569973
std        37.617613
min         0.000000
25%         0.000000
50%         0.500000
75%         4.568631
max      2644.436194


================================================================================
 Year: 2014
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      525.773139     526.101834     525.426110     525.769262
std       143.587640     143.693505     143.469949     143.582841
min       277.970000     278.170000     275.000000     277.970000
25%       396.940000     397.170000     396.567500     396.940000
50%       504.610000     504.880000     504.345000     504.550000
75%       622.310000     622.560000     622.000000     622.280000
max       995.000000     995.000000     992.800000     995.000000

              volume
count  525600.000000
mean        9.558370
std        42.497584
min         0.000000
25%         0.010000
50%         0.722841
75%         5.000000
max      5853.852166


================================================================================
 Year: 2015
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      272.191506     272.294286     272.081068     272.193234
std        58.863804      58.905584      58.817694      58.863304
min       153.100000     161.000000     152.400000     153.050000
25%       234.190000     234.270000     234.100000     234.190000
50%       248.360000     248.450000     248.300000     248.370000
75%       284.720000     284.850000     284.640000     284.740000
max       501.960000     502.000000     500.010000     500.870000

              volume
count  525600.000000
mean       10.515250
std        39.004259
min         0.000000
25%         0.000000
50%         0.688894
75%         5.105551
max      3691.012103


================================================================================
 Year: 2016
================================================================================
               close           high            low           open  \
count  527040.000000  527040.000000  527040.000000  527040.000000
mean      565.557293     565.678402     565.421155     565.556888
std       137.071604     137.094151     137.051188     137.072442
min       352.000000     353.640000     352.000000     352.560000
25%       430.560000     430.660000     430.480000     430.550000
50%       579.840000     579.960000     579.655000     579.810000
75%       661.470000     661.630000     661.260000     661.470000
max       980.740000     980.740000     980.740000     980.740000

              volume
count  527040.000000
mean        3.780666
std        16.256658
min         0.000000
25%         0.000000
50%         0.173900
75%         1.567024
max      1430.761155


================================================================================
 Year: 2017
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean     3941.622657    3945.479271    3937.047902    3941.691795
std      3930.105049    3935.776111    3923.012324    3930.167397
min       752.040000     752.810000     751.340000     752.000000
25%      1196.920000    1197.250000    1196.425000    1196.910000
50%      2566.090000    2568.100000    2564.990000    2566.240000
75%      4530.415000    4533.982500    4525.945000    4530.820000
max     19665.750000   19666.000000   19649.960000   19665.760000

              volume
count  525600.000000
mean        8.938769
std        20.779251
min         0.000000
25%         0.347238
50%         2.573988
75%         9.414755
max      1616.060001


================================================================================
 Year: 2018
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean     7530.371791    7535.901585    7524.498695    7530.396163
std      2411.241450    2415.384602    2406.804349    2411.288568
min      3124.450000    3131.860000    3122.280000    3124.450000
25%      6370.020000    6372.350000    6368.000000    6370.030000
50%      6906.235000    6910.990000    6901.975000    6906.395000
75%      8581.990000    8590.000000    8573.112500    8582.052500
max     17234.980000   17234.990000   17214.960000   17234.980000

              volume
count  525600.000000
mean        7.481247
std        17.944969
min         0.000000
25%         0.407732
50%         2.087618
75%         7.054774
max       747.429670


================================================================================
 Year: 2019
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean     7350.824878    7355.371737    7346.710885    7351.101629
std      2647.651632    2650.472987    2645.163427    2647.928406
min      3334.000000    3346.120000    3322.190000    3334.000000
25%      4168.180000    4169.480000    4167.575000    4168.457500
50%      7824.350000    7830.995000    7818.075000    7824.810000
75%      9569.057500    9576.587500    9562.610000    9570.310000
max     13850.570000   13880.000000   13830.060000   13853.250000

              volume
count  525600.000000
mean        5.699137
std        15.550124
min         0.000000
25%         0.199284
50%         1.237355
75%         5.095347
max       862.230064


================================================================================
 Year: 2020
================================================================================
               close          high            low           open  \
count  527040.000000  527040.00000  527040.000000  527040.000000
mean    11062.736906   11068.57189   11056.820406   11062.583661
std      4226.725919    4229.48630    4223.535458    4226.609866
min      3865.000000    3927.05000    3850.000000    3858.270000
25%      8857.140000    8862.85000    8851.927500    8856.747500
50%      9695.175000    9699.99000    9690.490000    9694.905000
75%     11630.305000   11634.41250   11626.210000   11629.942500
max     29299.940000   29300.00000   29267.000000   29299.940000

              volume
count  527040.000000
mean        5.829745
std        16.498233
min         0.000000
25%         0.277817
50%         1.470381
75%         5.171466
max      1098.349384


================================================================================
 Year: 2021
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean    47376.462393   47405.246091   47346.427326   47376.156438
std      9827.148274    9827.023417    9826.949604    9827.018351
min     28093.810000   28397.530000   27734.000000   28093.800000
25%     38083.190000   38120.000000   38046.835000   38083.495000
50%     47926.360000   47949.955000   47900.395000   47926.430000
75%     56224.090000   56259.810000   56188.447500   56223.975000
max     69000.000000   69000.000000   68799.990000   69000.000000

              volume
count  525600.000000
mean        3.433154
std         8.283893
min         0.000000
25%         0.243876
50%         1.074677
75%         3.296325
max       400.975885


================================================================================
 Year: 2022
================================================================================
               close           high            low           open  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean    28243.542735   28253.619595   28232.741104   28243.338423
std     10206.348069   10210.589161   10201.394580   10206.147836
min     15500.000000   15516.000000   15479.000000   15500.000000
25%     19526.000000   19532.000000   19521.000000   19526.000000
50%     23164.565000   23171.400000   23156.420000   23163.870000
75%     39032.560000   39047.502500   39017.027500   39032.275000
max     48214.090000   48234.000000   48155.320000   48200.090000

              volume
count  525600.000000
mean        1.586989
std         5.637469
min         0.000000
25%         0.031106
50%         0.241177
75%         1.066608
max       404.519663


================================================================================
 Year: 2023
================================================================================
               close           high           low           open  \
count  525600.000000  525600.000000  525600.00000  525600.000000
mean    28798.611828   28803.958033   28793.21336   28798.702759
std      5879.941320    5881.121546    5878.75140    5880.013316
min     16471.000000   16489.000000   16471.00000   16473.000000
25%     25917.000000   25921.000000   25913.00000   25917.000000
50%     27731.000000   27738.000000   27725.00000   27732.000000
75%     30296.000000   30299.000000   30292.00000   30295.000000
max     44728.000000   44729.000000   44666.00000   44729.000000

              volume
count  525600.000000
mean        1.296715
std         4.973151
min         0.000000
25%         0.019066
50%         0.104644
75%         0.726633
max       274.108183


================================================================================
 Year: 2024
================================================================================
               close           high            low           open  \
count  527040.000000  527040.000000  527040.000000  527040.000000
mean    65885.129542   65903.953073   65865.889602   65884.902999
std     14695.291920   14699.323894   14691.368647   14695.503718
min     38508.000000   38525.000000   38505.000000   38515.000000
25%     59013.000000   59033.000000   58997.000000   59013.000000
50%     64213.000000   64229.000000   64196.000000   64212.000000
75%     69049.000000   69065.000000   69033.000000   69049.000000
max    108276.000000  108364.000000  108204.000000  108293.000000

              volume
count  527040.000000
mean        1.532752
std         5.069169
min         0.000000
25%         0.029765
50%         0.208303
75%         0.880331
max       339.941471


================================================================================
 Year: 2025
================================================================================
               close           high            low           open  \
count  494198.000000  494198.000000  494198.000000  494198.000000
mean   102499.014104  102523.848935  102474.347185  102499.349975
std     11568.034753   11565.404626   11570.150047   11567.553537
min     74515.000000   74631.000000   74434.000000   74509.000000
25%     94009.000000   94031.000000   93985.000000   94007.000000
50%    104429.000000  104451.000000  104404.500000  104430.000000
75%    111517.000000  111541.000000  111494.000000  111517.000000
max    126202.000000  126272.000000  126158.000000  126202.000000

              volume
count  494198.000000
mean        1.203151
std         3.476506
min         0.000000
25%         0.032396
50%         0.212035
75%         0.915908
max       137.016185