In [6]:
import kagglehub
# Download latest version
path = kagglehub.dataset_download("mczielinski/bitcoin-historical-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/leehojin/.cache/kagglehub/datasets/mczielinski/bitcoin-historical-data/versions/442

In [39]:
import pandas as pd
import os

files = os.listdir(path)
data = pd.read_csv(f"{path}/{files[0]}")
data.head()

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

# 칼럼명 변경

In [40]:
data.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
data.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

# timestamp로 변환

In [41]:
data['timestamp'].iloc[0].astype(str)
#10자리 유닉스 타임스탬프(초 단위, seconds)

np.str_('1325412060.0')

In [42]:
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='s')

In [43]:
#인덱스 처리
data = data.set_index('timestamp', drop = False)
data.index

DatetimeIndex(['2012-01-01 10:01:00', '2012-01-01 10:02:00',
               '2012-01-01 10:03:00', '2012-01-01 10:04:00',
               '2012-01-01 10:05:00', '2012-01-01 10:06:00',
               '2012-01-01 10:07:00', '2012-01-01 10:08:00',
               '2012-01-01 10:09:00', '2012-01-01 10:10:00',
               ...
               '2025-12-08 23:48:00', '2025-12-08 23:49:00',
               '2025-12-08 23:50:00', '2025-12-08 23:51:00',
               '2025-12-08 23:52:00', '2025-12-08 23:53:00',
               '2025-12-08 23:54:00', '2025-12-08 23:55:00',
               '2025-12-08 23:56:00', '2025-12-08 23:57:00'],
              dtype='datetime64[ns]', name='timestamp', length=7329277, freq=None)

# EDA

### Dataset Column Description

- **Timestamp**  
  Start time of the time window (60s window), in Unix time

- **Open**  
  Open price at the start of the time window

- **High**  
  High price at the start of the time window

- **Low**  
  Low price at the start of the time window

- **Close**  
  Close price at the start of the time window

- **Volume**  
  Volume of BTC transacted within this time window


  # 1-Minute OHLCV Data Analysis Checklist

---

## 1. 기초 통계 분석 (Data Sanity Check)

- 가격 분포 (Histogram)
- 수익률 분포 (Log Return)
- 변동성 분포
- 이상치(Outlier) 탐지
- 거래량 분포
- 시간대별 평균 거래량

---

## 2. 시계열 구조 분석 (Market Regime)

- 추세(Trend) 분석
- 계절성(Seasonality) 분석
- 자기상관(ACF)
- 부분자기상관(PACF)
- 구조적 변화점(Changepoint Detection)
- 박스권 / 추세 구간 분리

---

## 3. 수익률 기반 분석 (Return Analysis)

- 단순 수익률 / 로그 수익률
- 누적 수익률
- Drawdown / MDD
- 수익률 왜도(Skewness)
- 수익률 첨도(Kurtosis)
- Tail Risk 분석

---

## 4. 변동성 분석 (Volatility)

- 롤링 변동성(Rolling Volatility)
- Realized Volatility
- Volatility Clustering
- GARCH 계열 모델
- 변동성 돌파 탐지

---

## 5. 거래량 기반 분석 (Volume Analysis)

- 가격–거래량 상관관계
- 거래량 급증 이벤트
- OBV (On-Balance Volume)
- VWAP
- 거래량 기반 돌파 신호

---

## 6. 기술적 지표 분석 (Technical Indicators)

- 이동평균(MA, EMA)
- RSI
- MACD
- Bollinger Band
- Stochastic
- ATR
- ADX

---

## 7. 마이크로구조 분석 (Microstructure)

- 스프레드 유사 패턴
- High–Low 변동폭
- 연속 양봉/음봉 길이
- 가격 점프(Jump Diffusion)
- 체결 밀도 추정

---

## 8. 패턴 인식 / 패턴 통계

- 캔들 패턴 빈도 분석
- 돌파 패턴 성공 확률
- Fake Breakout 분석
- 쌍봉 / 삼중바닥 패턴

---

## 9. 예측 모델링 (Forecasting)

- ARIMA
- SARIMA
- Prophet
- LSTM
- XGBoost
- Transformer 기반 시계열 예측

---

## 10. 전략 백테스트 (Trading Strategy)

- 추세 추종 전략
- 평균 회귀 전략
- 변동성 돌파 전략
- 거래량 기반 전략
- 멀티팩터 전략

---

## 11. 위험 관리 분석 (Risk Management)

- 포지션 사이징
- Kelly Criterion
- VaR / CVaR
- 레버리지 안정성 분석
- 마진 청산 리스크 분석

---

## 12. 멀티 타임프레임 분석

- 1m → 5m → 1h → 1d 리샘플링
- 상위 타임프레임 추세 필터
- 프랙탈 구조 분석

---

## 13. 이벤트 기반 분석

- 거래량 폭증 직후 수익률
- 변동성 급등 직후 방향성
- 추세 전환 이벤트

---

## 14. 머신러닝 피처 엔지니어링

- Lag Feature
- Rolling Feature
- Volatility Feature
- Volume Feature
- Time Feature (요일, 시간)

---

## ✅ 실전 필수 우선순위 TOP 5

1. 수익률 + 변동성 분석  
2. 거래량–가격 관계 분석  
3. 기술적 지표 기반 신호 생성  
4. 추세 / 박스권 구분  
5. 백테스트 기반 전략 검증

In [67]:
data.head(10)

                              timestamp  open  high  low  close  volume
timestamp
2012-01-01 10:01:00 2012-01-01 10:01:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:02:00 2012-01-01 10:02:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:03:00 2012-01-01 10:03:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:04:00 2012-01-01 10:04:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:05:00 2012-01-01 10:05:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:06:00 2012-01-01 10:06:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:07:00 2012-01-01 10:07:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:08:00 2012-01-01 10:08:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:09:00 2012-01-01 10:09:00   4.6   4.6  4.6    4.6     0.0
2012-01-01 10:10:00 2012-01-01 10:10:00   4.6   4.6  4.6    4.6     0.0

> close랑 다음행의 open이랑 다른이유는? -> 거래기준이기 때문에. 데이터 집계는 윈도우지만 거래는 volume 발생시, 찍힘

In [37]:
print(max(data.index) - min(data.index))

5090 days 13:56:00

In [48]:
data.shape

(7329277, 6)

In [47]:
pd.options.display.float_format = '{:,.1f}'.format
data.describe()

,timestamp,open,high,low,close,volume
count,7329277,"7,329,277.0","7,329,277.0","7,329,277.0","7,329,277.0","7,329,277.0"
mean,2018-12-20 08:20:07.389176576,"21,358.2","21,365.9","21,350.4","21,358.3",5.1
min,2012-01-01 10:01:00,3.8,3.8,3.8,3.8,0.0
25%,2015-06-26 20:40:00,443.7,443.9,443.4,443.7,0.0
50%,2018-12-20 07:19:00,"7,299.5","7,303.1","7,295.1","7,299.6",0.4
75%,2022-06-14 17:58:00,"30,928.8","30,950.0","30,907.5","30,929.6",2.9
max,2025-12-08 23:57:00,"126,202.0","126,272.0","126,158.0","126,202.0","5,853.9"
std,NaN,"30,022.4","30,030.6","30,014.1","30,022.4",22.1

# 기초 통계 분포
- 가격 분포 (Histogram)
- 수익률 분포 (Log Return)
- 변동성 분포
- 이상치(Outlier) 탐지
- 거래량 분포
- 시간대별 평균 거래량